.z-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }
  .z-row.justifyRight {
    flex-direction: row-reverse; }
  .z-row.justifyCenter {
    justify-content: center; }
  .z-row.justifySpaceBetween {
    justify-content: space-between; }
  .z-row.justifySpaceAround {
    justify-content: space-around; }
  .z-row.justifyLeft .z-col.offset1, .z-row.justifyCenter .z-col.offset1, .z-row.justifySpaceBetween .z-col.offset1, .z-row.justifySpaceAround .z-col.offset1 {
    margin-left: 4.16667%; }
  .z-row.justifyLeft .z-col.offset2, .z-row.justifyCenter .z-col.offset2, .z-row.justifySpaceBetween .z-col.offset2, .z-row.justifySpaceAround .z-col.offset2 {
    margin-left: 8.33333%; }
  .z-row.justifyLeft .z-col.offset3, .z-row.justifyCenter .z-col.offset3, .z-row.justifySpaceBetween .z-col.offset3, .z-row.justifySpaceAround .z-col.offset3 {
    margin-left: 12.5%; }
  .z-row.justifyLeft .z-col.offset4, .z-row.justifyCenter .z-col.offset4, .z-row.justifySpaceBetween .z-col.offset4, .z-row.justifySpaceAround .z-col.offset4 {
    margin-left: 16.66667%; }
  .z-row.justifyLeft .z-col.offset5, .z-row.justifyCenter .z-col.offset5, .z-row.justifySpaceBetween .z-col.offset5, .z-row.justifySpaceAround .z-col.offset5 {
    margin-left: 20.83333%; }
  .z-row.justifyLeft .z-col.offset6, .z-row.justifyCenter .z-col.offset6, .z-row.justifySpaceBetween .z-col.offset6, .z-row.justifySpaceAround .z-col.offset6 {
    margin-left: 25%; }
  .z-row.justifyLeft .z-col.offset7, .z-row.justifyCenter .z-col.offset7, .z-row.justifySpaceBetween .z-col.offset7, .z-row.justifySpaceAround .z-col.offset7 {
    margin-left: 29.16667%; }
  .z-row.justifyLeft .z-col.offset8, .z-row.justifyCenter .z-col.offset8, .z-row.justifySpaceBetween .z-col.offset8, .z-row.justifySpaceAround .z-col.offset8 {
    margin-left: 33.33333%; }
  .z-row.justifyLeft .z-col.offset9, .z-row.justifyCenter .z-col.offset9, .z-row.justifySpaceBetween .z-col.offset9, .z-row.justifySpaceAround .z-col.offset9 {
    margin-left: 37.5%; }
  .z-row.justifyLeft .z-col.offset10, .z-row.justifyCenter .z-col.offset10, .z-row.justifySpaceBetween .z-col.offset10, .z-row.justifySpaceAround .z-col.offset10 {
    margin-left: 41.66667%; }
  .z-row.justifyLeft .z-col.offset11, .z-row.justifyCenter .z-col.offset11, .z-row.justifySpaceBetween .z-col.offset11, .z-row.justifySpaceAround .z-col.offset11 {
    margin-left: 45.83333%; }
  .z-row.justifyLeft .z-col.offset12, .z-row.justifyCenter .z-col.offset12, .z-row.justifySpaceBetween .z-col.offset12, .z-row.justifySpaceAround .z-col.offset12 {
    margin-left: 50%; }
  .z-row.justifyLeft .z-col.offset13, .z-row.justifyCenter .z-col.offset13, .z-row.justifySpaceBetween .z-col.offset13, .z-row.justifySpaceAround .z-col.offset13 {
    margin-left: 54.16667%; }
  .z-row.justifyLeft .z-col.offset14, .z-row.justifyCenter .z-col.offset14, .z-row.justifySpaceBetween .z-col.offset14, .z-row.justifySpaceAround .z-col.offset14 {
    margin-left: 58.33333%; }
  .z-row.justifyLeft .z-col.offset15, .z-row.justifyCenter .z-col.offset15, .z-row.justifySpaceBetween .z-col.offset15, .z-row.justifySpaceAround .z-col.offset15 {
    margin-left: 62.5%; }
  .z-row.justifyLeft .z-col.offset16, .z-row.justifyCenter .z-col.offset16, .z-row.justifySpaceBetween .z-col.offset16, .z-row.justifySpaceAround .z-col.offset16 {
    margin-left: 66.66667%; }
  .z-row.justifyLeft .z-col.offset17, .z-row.justifyCenter .z-col.offset17, .z-row.justifySpaceBetween .z-col.offset17, .z-row.justifySpaceAround .z-col.offset17 {
    margin-left: 70.83333%; }
  .z-row.justifyLeft .z-col.offset18, .z-row.justifyCenter .z-col.offset18, .z-row.justifySpaceBetween .z-col.offset18, .z-row.justifySpaceAround .z-col.offset18 {
    margin-left: 75%; }
  .z-row.justifyLeft .z-col.offset19, .z-row.justifyCenter .z-col.offset19, .z-row.justifySpaceBetween .z-col.offset19, .z-row.justifySpaceAround .z-col.offset19 {
    margin-left: 79.16667%; }
  .z-row.justifyLeft .z-col.offset20, .z-row.justifyCenter .z-col.offset20, .z-row.justifySpaceBetween .z-col.offset20, .z-row.justifySpaceAround .z-col.offset20 {
    margin-left: 83.33333%; }
  .z-row.justifyLeft .z-col.offset21, .z-row.justifyCenter .z-col.offset21, .z-row.justifySpaceBetween .z-col.offset21, .z-row.justifySpaceAround .z-col.offset21 {
    margin-left: 87.5%; }
  .z-row.justifyLeft .z-col.offset22, .z-row.justifyCenter .z-col.offset22, .z-row.justifySpaceBetween .z-col.offset22, .z-row.justifySpaceAround .z-col.offset22 {
    margin-left: 91.66667%; }
  .z-row.justifyLeft .z-col.offset23, .z-row.justifyCenter .z-col.offset23, .z-row.justifySpaceBetween .z-col.offset23, .z-row.justifySpaceAround .z-col.offset23 {
    margin-left: 95.83333%; }
  .z-row.justifyLeft .z-col.offset24, .z-row.justifyCenter .z-col.offset24, .z-row.justifySpaceBetween .z-col.offset24, .z-row.justifySpaceAround .z-col.offset24 {
    margin-left: 100%; }
  .z-row.justifyRight .z-col.offset1 {
    margin-right: 4.16667%; }
  .z-row.justifyRight .z-col.offset2 {
    margin-right: 8.33333%; }
  .z-row.justifyRight .z-col.offset3 {
    margin-right: 12.5%; }
  .z-row.justifyRight .z-col.offset4 {
    margin-right: 16.66667%; }
  .z-row.justifyRight .z-col.offset5 {
    margin-right: 20.83333%; }
  .z-row.justifyRight .z-col.offset6 {
    margin-right: 25%; }
  .z-row.justifyRight .z-col.offset7 {
    margin-right: 29.16667%; }
  .z-row.justifyRight .z-col.offset8 {
    margin-right: 33.33333%; }
  .z-row.justifyRight .z-col.offset9 {
    margin-right: 37.5%; }
  .z-row.justifyRight .z-col.offset10 {
    margin-right: 41.66667%; }
  .z-row.justifyRight .z-col.offset11 {
    margin-right: 45.83333%; }
  .z-row.justifyRight .z-col.offset12 {
    margin-right: 50%; }
  .z-row.justifyRight .z-col.offset13 {
    margin-right: 54.16667%; }
  .z-row.justifyRight .z-col.offset14 {
    margin-right: 58.33333%; }
  .z-row.justifyRight .z-col.offset15 {
    margin-right: 62.5%; }
  .z-row.justifyRight .z-col.offset16 {
    margin-right: 66.66667%; }
  .z-row.justifyRight .z-col.offset17 {
    margin-right: 70.83333%; }
  .z-row.justifyRight .z-col.offset18 {
    margin-right: 75%; }
  .z-row.justifyRight .z-col.offset19 {
    margin-right: 79.16667%; }
  .z-row.justifyRight .z-col.offset20 {
    margin-right: 83.33333%; }
  .z-row.justifyRight .z-col.offset21 {
    margin-right: 87.5%; }
  .z-row.justifyRight .z-col.offset22 {
    margin-right: 91.66667%; }
  .z-row.justifyRight .z-col.offset23 {
    margin-right: 95.83333%; }
  .z-row.justifyRight .z-col.offset24 {
    margin-right: 100%; }
  .z-row.alignMiddle {
    align-items: center; }
  .z-row.alignTop {
    align-items: flex-start; }
  .z-row.alignBottom {
    align-items: flex-end; }

.z-col.span1 {
  width: 4.16667%; }

.z-col.span2 {
  width: 8.33333%; }

.z-col.span3 {
  width: 12.5%; }

.z-col.span4 {
  width: 16.66667%; }

.z-col.span5 {
  width: 20.83333%; }

.z-col.span6 {
  width: 25%; }

.z-col.span7 {
  width: 29.16667%; }

.z-col.span8 {
  width: 33.33333%; }

.z-col.span9 {
  width: 37.5%; }

.z-col.span10 {
  width: 41.66667%; }

.z-col.span11 {
  width: 45.83333%; }

.z-col.span12 {
  width: 50%; }

.z-col.span13 {
  width: 54.16667%; }

.z-col.span14 {
  width: 58.33333%; }

.z-col.span15 {
  width: 62.5%; }

.z-col.span16 {
  width: 66.66667%; }

.z-col.span17 {
  width: 70.83333%; }

.z-col.span18 {
  width: 75%; }

.z-col.span19 {
  width: 79.16667%; }

.z-col.span20 {
  width: 83.33333%; }

.z-col.span21 {
  width: 87.5%; }

.z-col.span22 {
  width: 91.66667%; }

.z-col.span23 {
  width: 95.83333%; }

.z-col.span24 {
  width: 100%; }
