.z-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  &.justifyRight {
    flex-direction: row-reverse;
  }

  &.justifyCenter {
    justify-content: center;
  }

  &.justifySpaceBetween {
    justify-content: space-between;
  }

  &.justifySpaceAround {
    justify-content: space-around
  }

  // row相对于排列方向的偏移量
  &.justifyLeft,
  &.justifyCenter,
  &.justifySpaceBetween,
  &.justifySpaceAround {
    .z-col {
      @for $i from 1 through 24 {
        &.offset#{$i} {
          margin-left: ($i/24)*100%;
          ;
        }
      }
    }
  }

  &.justifyRight {
    .z-col {
      @for $i from 1 through 24 {
        &.offset#{$i} {
          margin-right: ($i/24)*100%;
          ;
        }
      }
    }
  }

  &.alignMiddle {
    align-items: center;
  }

  &.alignTop {
    align-items: flex-start;
  }

  &.alignBottom {
    align-items: flex-end;
  }
}

//col的宽度
.z-col {
  @for $i from 1 through 24 {
    &.span#{$i} {
      width: ($i/24) * 100%;
    }
  }
}