.z-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 12px;
  line-height: 1.2;
  color: #fff;
  font-weight: 400;
  background-image: none;
  border: 1px solid transparent;
  user-select: none;
  touch-action: manipulation;
  height: 32px;
  padding: 0 15px;
  font-size: 14px;
  transition: all 300ms ease-in;
  outline: none;
  text-decoration: none;

  &:focus {
    opacity: 0.8;
  }

  &:hover {
    opacity: 0.6;
  }
}

.big {
  width: 100%;
}

// 颜色
.default {
  color: #747474;
  background: #fff;
  border-color: #d9d9d9;

  &:hover {
    border-color: #1790FF;
    color: #1790FF;
  }

  &:focus {
    border-color: #1790FF;
    color: #1790FF;
  }
}

.primary {
  background: #1790FF;

  &:hover {
    border-color: #747474;
  }
}

.success {
  background: #4AF2A1;

}

.danger {
  background: #F4212D;
}

// 形状
.rect {
  border-radius: 4px;
}

.circle {
  border-radius: 16px;
}

//disabled
.disabled {
  color: #ccc;

  &:hover {
    border-color: #ccc;
    color: #ccc;
    box-shadow: none;
    cursor: not-allowed;
  }
}