.z-pagination {
  background: #fff;

  .item {
    display: inline-block;
    border: 1px solid rgb(128, 128, 128);
    color: rgb(14, 12, 12);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    min-width: 35px;
    height: 100%;
    cursor: pointer;
    padding: 2px 0;
    border-radius: 4px;
    text-align: center;
    margin-right: 4px;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      border-color: #F3C040;

    }

    &.active {
      border-color: #03A0E9;
      color: #03A0E9;
    }

    &.disabled {
      color: rgba(0, 0, 0, 0.25);
      border-color: #ddd;
      cursor: not-allowed;
    }
  }
}